*{
    user-select: none;
}

body{
    background-color: black;
    text-align: center;
    /* box-shadow: inset  0 10px 50px  rgb(255, 0, 0); */
}

#model{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
letter-spacing: 2px;
font-size: 170%;

}

img{
    width: 100%;
    height: 590px;
    margin-left: 0;
    align-self: center;
}

.container{
    z-index: -10;
    box-shadow: 0 5px 90px  rgb(255, 0, 0);
    width: 60%;
    margin: auto;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
}

#miniGallery{
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
    margin-top:-5%
}

#miniGallery > img{
    width: 12%;
    height: 150px;
    border-radius: 10%;
    margin-right: 20px;
    box-shadow:  0 10px 50px  rgb(255, 0, 0);
    margin-bottom: 90px;
    margin-top: 90px;
}